<?xml version="1.0" encoding="UTF-8"?>
<config>
  <object id="2">
    <metadata key="name" value="100_mm_round_base_magnet"/>
    <metadata key="extruder" value="1"/>
    <part id="1" subtype="normal_part">
      <metadata key="name" value="100_mm_round_base_magnet"/>
      <metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/>
      <metadata key="source_file" value="100_mm_round_base_magnet.stl"/>
      <metadata key="source_offset_z" value="0"/>
    </part>
  </object>
  <object id="4">
    <metadata key="name" value="130_mm_round_base_magnet"/>
    <metadata key="extruder" value="1"/>
    <part id="3" subtype="normal_part">
      <metadata key="name" value="130_mm_round_base_magnet"/>
      <metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/>
      <metadata key="source_file" value="130_mm_round_base_magnet.stl"/>
      <metadata key="source_offset_z" value="0"/>
    </part>
  </object>
  <object id="6">
    <metadata key="name" value="160_mm_round_base_magnet"/>
    <metadata key="extruder" value="1"/>
    <part id="5" subtype="normal_part">
      <metadata key="name" value="160_mm_round_base_magnet"/>
      <metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/>
      <metadata key="source_file" value="160_mm_round_base_magnet.stl"/>
      <metadata key="source_offset_z" value="0"/>
    </part>
  </object>
  <object id="8">
    <metadata key="name" value="1_inch_round_base_magnet"/>
    <metadata key="extruder" value="1"/>
    <part id="7" subtype="normal_part">
      <metadata key="name" value="1_inch_round_base_magnet"/>
      <metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/>
      <metadata key="source_file" value="1_inch_round_base_magnet.stl"/>
      <metadata key="source_offset_z" value="0"/>
    </part>
  </object>
  <object id="10">
    <metadata key="name" value="25_mm_round_base_magnet"/>
    <metadata key="extruder" value="1"/>
    <part id="9" subtype="normal_part">
      <metadata key="name" value="25_mm_round_base_magnet"/>
      <metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/>
      <metadata key="source_file" value="25_mm_round_base_magnet.stl"/>
      <metadata key="source_offset_z" value="0"/>
    </part>
  </object>
  <object id="12">
    <metadata key="name" value="28_mm_round_base_magnet"/>
    <metadata key="extruder" value="1"/>
    <part id="11" subtype="normal_part">
      <metadata key="name" value="28_mm_round_base_magnet"/>
      <metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/>
      <metadata key="source_file" value="28_mm_round_base_magnet.stl"/>
      <metadata key="source_offset_z" value="0"/>
    </part>
  </object>
  <object id="14">
    <metadata key="name" value="2_inch_round_base_magnet"/>
    <metadata key="extruder" value="1"/>
    <part id="13" subtype="normal_part">
      <metadata key="name" value="2_inch_round_base_magnet"/>
      <metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/>
      <metadata key="source_file" value="2_inch_round_base_magnet.stl"/>
      <metadata key="source_offset_z" value="0"/>
    </part>
  </object>
  <object id="16">
    <metadata key="name" value="32_mm_round_base_magnet"/>
    <metadata key="extruder" value="1"/>
    <part id="15" subtype="normal_part">
      <metadata key="name" value="32_mm_round_base_magnet"/>
      <metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/>
      <metadata key="source_file" value="32_mm_round_base_magnet.stl"/>
      <metadata key="source_offset_z" value="0"/>
    </part>
  </object>
  <object id="18">
    <metadata key="name" value="3_inch_round_base_magnet"/>
    <metadata key="extruder" value="1"/>
    <part id="17" subtype="normal_part">
      <metadata key="name" value="3_inch_round_base_magnet"/>
      <metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/>
      <metadata key="source_file" value="3_inch_round_base_magnet.stl"/>
      <metadata key="source_offset_z" value="0"/>
    </part>
  </object>
  <object id="20">
    <metadata key="name" value="40_mm_round_base_magnet"/>
    <metadata key="extruder" value="1"/>
    <part id="19" subtype="normal_part">
      <metadata key="name" value="40_mm_round_base_magnet"/>
      <metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/>
      <metadata key="source_file" value="40_mm_round_base_magnet.stl"/>
      <metadata key="source_offset_z" value="0"/>
    </part>
  </object>
  <object id="22">
    <metadata key="name" value="50_mm_round_base_magnet"/>
    <metadata key="extruder" value="1"/>
    <part id="21" subtype="normal_part">
      <metadata key="name" value="50_mm_round_base_magnet"/>
      <metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/>
      <metadata key="source_file" value="50_mm_round_base_magnet.stl"/>
      <metadata key="source_offset_z" value="0"/>
    </part>
  </object>
  <object id="24">
    <metadata key="name" value="60_mm_round_base_magnet"/>
    <metadata key="extruder" value="1"/>
    <part id="23" subtype="normal_part">
      <metadata key="name" value="60_mm_round_base_magnet"/>
      <metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/>
      <metadata key="source_file" value="60_mm_round_base_magnet.stl"/>
      <metadata key="source_offset_z" value="0"/>
    </part>
  </object>
  <object id="26">
    <metadata key="name" value="65_mm_round_base_magnet"/>
    <metadata key="extruder" value="1"/>
    <part id="25" subtype="normal_part">
      <metadata key="name" value="65_mm_round_base_magnet"/>
      <metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/>
      <metadata key="source_file" value="65_mm_round_base_magnet.stl"/>
      <metadata key="source_offset_z" value="0"/>
    </part>
  </object>
  <object id="28">
    <metadata key="name" value="70_mm_round_base_magnet"/>
    <metadata key="extruder" value="1"/>
    <part id="27" subtype="normal_part">
      <metadata key="name" value="70_mm_round_base_magnet"/>
      <metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/>
      <metadata key="source_file" value="70_mm_round_base_magnet.stl"/>
      <metadata key="source_offset_z" value="0"/>
    </part>
  </object>
  <object id="30">
    <metadata key="name" value="80_mm_round_base_magnet"/>
    <metadata key="extruder" value="1"/>
    <part id="29" subtype="normal_part">
      <metadata key="name" value="80_mm_round_base_magnet"/>
      <metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/>
      <metadata key="source_file" value="80_mm_round_base_magnet.stl"/>
      <metadata key="source_offset_z" value="0"/>
    </part>
  </object>
  <plate>
    <metadata key="plater_id" value="1"/>
    <metadata key="plater_name" value="100_mm_round_base_magnet"/>
    <metadata key="thumbnail_file" value="Metadata/plate_1.png"/>
    <metadata key="thumbnail_no_light_file" value="Metadata/plate_no_light_1.png"/>
    <metadata key="top_file" value="Metadata/top_1.png"/>
    <metadata key="pick_file" value="Metadata/pick_1.png"/>
    <model_instance>
      <metadata key="object_id" value="2"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="100"/>
    </model_instance>
  </plate>
  <plate>
    <metadata key="plater_id" value="2"/>
    <metadata key="plater_name" value="130_mm_round_base_magnet"/>
    <metadata key="thumbnail_file" value="Metadata/plate_2.png"/>
    <metadata key="thumbnail_no_light_file" value="Metadata/plate_no_light_2.png"/>
    <metadata key="top_file" value="Metadata/top_2.png"/>
    <metadata key="pick_file" value="Metadata/pick_2.png"/>
    <model_instance>
      <metadata key="object_id" value="4"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="101"/>
    </model_instance>
  </plate>
  <plate>
    <metadata key="plater_id" value="3"/>
    <metadata key="plater_name" value="160_mm_round_base_magnet"/>
    <metadata key="thumbnail_file" value="Metadata/plate_3.png"/>
    <metadata key="thumbnail_no_light_file" value="Metadata/plate_no_light_3.png"/>
    <metadata key="top_file" value="Metadata/top_3.png"/>
    <metadata key="pick_file" value="Metadata/pick_3.png"/>
    <model_instance>
      <metadata key="object_id" value="6"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="102"/>
    </model_instance>
  </plate>
  <plate>
    <metadata key="plater_id" value="4"/>
    <metadata key="plater_name" value="1_inch_round_base_magnet"/>
    <metadata key="thumbnail_file" value="Metadata/plate_4.png"/>
    <metadata key="thumbnail_no_light_file" value="Metadata/plate_no_light_4.png"/>
    <metadata key="top_file" value="Metadata/top_4.png"/>
    <metadata key="pick_file" value="Metadata/pick_4.png"/>
    <model_instance>
      <metadata key="object_id" value="8"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="103"/>
    </model_instance>
  </plate>
  <plate>
    <metadata key="plater_id" value="5"/>
    <metadata key="plater_name" value="25_mm_round_base_magnet"/>
    <metadata key="thumbnail_file" value="Metadata/plate_5.png"/>
    <metadata key="thumbnail_no_light_file" value="Metadata/plate_no_light_5.png"/>
    <metadata key="top_file" value="Metadata/top_5.png"/>
    <metadata key="pick_file" value="Metadata/pick_5.png"/>
    <model_instance>
      <metadata key="object_id" value="10"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="104"/>
    </model_instance>
  </plate>
  <plate>
    <metadata key="plater_id" value="6"/>
    <metadata key="plater_name" value="28_mm_round_base_magnet"/>
    <metadata key="thumbnail_file" value="Metadata/plate_6.png"/>
    <metadata key="thumbnail_no_light_file" value="Metadata/plate_no_light_6.png"/>
    <metadata key="top_file" value="Metadata/top_6.png"/>
    <metadata key="pick_file" value="Metadata/pick_6.png"/>
    <model_instance>
      <metadata key="object_id" value="12"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="105"/>
    </model_instance>
  </plate>
  <plate>
    <metadata key="plater_id" value="7"/>
    <metadata key="plater_name" value="2_inch_round_base_magnet"/>
    <metadata key="thumbnail_file" value="Metadata/plate_7.png"/>
    <metadata key="thumbnail_no_light_file" value="Metadata/plate_no_light_7.png"/>
    <metadata key="top_file" value="Metadata/top_7.png"/>
    <metadata key="pick_file" value="Metadata/pick_7.png"/>
    <model_instance>
      <metadata key="object_id" value="14"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="106"/>
    </model_instance>
  </plate>
  <plate>
    <metadata key="plater_id" value="8"/>
    <metadata key="plater_name" value="32_mm_round_base_magnet"/>
    <metadata key="thumbnail_file" value="Metadata/plate_8.png"/>
    <metadata key="thumbnail_no_light_file" value="Metadata/plate_no_light_8.png"/>
    <metadata key="top_file" value="Metadata/top_8.png"/>
    <metadata key="pick_file" value="Metadata/pick_8.png"/>
    <model_instance>
      <metadata key="object_id" value="16"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="107"/>
    </model_instance>
  </plate>
  <plate>
    <metadata key="plater_id" value="9"/>
    <metadata key="plater_name" value="3_inch_round_base_magnet"/>
    <metadata key="thumbnail_file" value="Metadata/plate_9.png"/>
    <metadata key="thumbnail_no_light_file" value="Metadata/plate_no_light_9.png"/>
    <metadata key="top_file" value="Metadata/top_9.png"/>
    <metadata key="pick_file" value="Metadata/pick_9.png"/>
    <model_instance>
      <metadata key="object_id" value="18"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="108"/>
    </model_instance>
  </plate>
  <plate>
    <metadata key="plater_id" value="10"/>
    <metadata key="plater_name" value="40_mm_round_base_magnet"/>
    <metadata key="thumbnail_file" value="Metadata/plate_10.png"/>
    <metadata key="thumbnail_no_light_file" value="Metadata/plate_no_light_10.png"/>
    <metadata key="top_file" value="Metadata/top_10.png"/>
    <metadata key="pick_file" value="Metadata/pick_10.png"/>
    <model_instance>
      <metadata key="object_id" value="20"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="109"/>
    </model_instance>
  </plate>
  <plate>
    <metadata key="plater_id" value="11"/>
    <metadata key="plater_name" value="50_mm_round_base_magnet"/>
    <metadata key="thumbnail_file" value="Metadata/plate_11.png"/>
    <metadata key="thumbnail_no_light_file" value="Metadata/plate_no_light_11.png"/>
    <metadata key="top_file" value="Metadata/top_11.png"/>
    <metadata key="pick_file" value="Metadata/pick_11.png"/>
    <model_instance>
      <metadata key="object_id" value="22"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="110"/>
    </model_instance>
  </plate>
  <plate>
    <metadata key="plater_id" value="12"/>
    <metadata key="plater_name" value="60_mm_round_base_magnet"/>
    <metadata key="thumbnail_file" value="Metadata/plate_12.png"/>
    <metadata key="thumbnail_no_light_file" value="Metadata/plate_no_light_12.png"/>
    <metadata key="top_file" value="Metadata/top_12.png"/>
    <metadata key="pick_file" value="Metadata/pick_12.png"/>
    <model_instance>
      <metadata key="object_id" value="24"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="111"/>
    </model_instance>
  </plate>
  <plate>
    <metadata key="plater_id" value="13"/>
    <metadata key="plater_name" value="65_mm_round_base_magnet"/>
    <metadata key="thumbnail_file" value="Metadata/plate_13.png"/>
    <metadata key="thumbnail_no_light_file" value="Metadata/plate_no_light_13.png"/>
    <metadata key="top_file" value="Metadata/top_13.png"/>
    <metadata key="pick_file" value="Metadata/pick_13.png"/>
    <model_instance>
      <metadata key="object_id" value="26"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="112"/>
    </model_instance>
  </plate>
  <plate>
    <metadata key="plater_id" value="14"/>
    <metadata key="plater_name" value="70_mm_round_base_magnet"/>
    <metadata key="thumbnail_file" value="Metadata/plate_14.png"/>
    <metadata key="thumbnail_no_light_file" value="Metadata/plate_no_light_14.png"/>
    <metadata key="top_file" value="Metadata/top_14.png"/>
    <metadata key="pick_file" value="Metadata/pick_14.png"/>
    <model_instance>
      <metadata key="object_id" value="28"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="113"/>
    </model_instance>
  </plate>
  <plate>
    <metadata key="plater_id" value="15"/>
    <metadata key="plater_name" value="80_mm_round_base_magnet"/>
    <metadata key="thumbnail_file" value="Metadata/plate_15.png"/>
    <metadata key="thumbnail_no_light_file" value="Metadata/plate_no_light_15.png"/>
    <metadata key="top_file" value="Metadata/top_15.png"/>
    <metadata key="pick_file" value="Metadata/pick_15.png"/>
    <model_instance>
      <metadata key="object_id" value="30"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="114"/>
    </model_instance>
  </plate>
  <assemble>
   <assemble_item object_id="2" instance_id="0" transform="1 0 0 0 1 0 0 0 1 90 90 2" offset="0 0 0" />
   <assemble_item object_id="4" instance_id="0" transform="1 0 0 0 1 0 0 0 1 306 90 2" offset="0 0 0" />
   <assemble_item object_id="6" instance_id="0" transform="1 0 0 0 1 0 0 0 1 522 90 2" offset="0 0 0" />
   <assemble_item object_id="8" instance_id="0" transform="1 0 0 0 1 0 0 0 1 738 90 2" offset="0 0 0" />
   <assemble_item object_id="10" instance_id="0" transform="1 0 0 0 1 0 0 0 1 90 -126 2" offset="0 0 0" />
   <assemble_item object_id="12" instance_id="0" transform="1 0 0 0 1 0 0 0 1 306 -126 2" offset="0 0 0" />
   <assemble_item object_id="14" instance_id="0" transform="1 0 0 0 1 0 0 0 1 522 -126 2" offset="0 0 0" />
   <assemble_item object_id="16" instance_id="0" transform="1 0 0 0 1 0 0 0 1 738 -126 2" offset="0 0 0" />
   <assemble_item object_id="18" instance_id="0" transform="1 0 0 0 1 0 0 0 1 90 -342 2" offset="0 0 0" />
   <assemble_item object_id="20" instance_id="0" transform="1 0 0 0 1 0 0 0 1 306 -342 2" offset="0 0 0" />
   <assemble_item object_id="22" instance_id="0" transform="1 0 0 0 1 0 0 0 1 522 -342 2" offset="0 0 0" />
   <assemble_item object_id="24" instance_id="0" transform="1 0 0 0 1 0 0 0 1 738 -342 2" offset="0 0 0" />
   <assemble_item object_id="26" instance_id="0" transform="1 0 0 0 1 0 0 0 1 90 -558 2" offset="0 0 0" />
   <assemble_item object_id="28" instance_id="0" transform="1 0 0 0 1 0 0 0 1 306 -558 2" offset="0 0 0" />
   <assemble_item object_id="30" instance_id="0" transform="1 0 0 0 1 0 0 0 1 522 -558 2" offset="0 0 0" />
  </assemble>
</config>